.sendbird-app{
  max-width: 400px;
}

.sendbird-app img {
  width: 100%;
}
/* .app img[src*='#hero']:not(.app td img[src*='#hero']) */
.sendbird-app img[src*='#hero']:not(.sendbird-app td img[src*='#hero']){
  margin-left: -12px;
  width: calc(100% + 24px);
  margin-top: -8px;
}

.sendbird-app img[src*='#hero']{
  border-radius:16px  16px 0px 0px;
}

.sendbird-app__button{
  width: 100%;
}

.sendbird-app table{
  width:100%;
}

.sendbird-app td{
  vertical-align: top;
  padding-right:8px;
  padding-top:8px;
  padding-bottom:8px;

}


.sendbird-app td.right{
  text-align: right;
}

.sendbird-app td.left{
  text-align: left;
}

.sendbird-app td.center{
  text-align: left;
}

.sendbird-app hr{
  border:0.5px solid #d8d8d8;
}
